
.facets-control-header {
  border: 1px solid #ccc;
  /*background: #ffd54f;
  color: #00b0ff;*/
  background-color: #eee;
  color: #444;
  border-radius: 3px 3px 0 0;

  font-weight: bold;
  text-align: center;
}

.facets-control-item {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px; padding-bottom: 4px;
  border: 1px solid #ccc;
  font-weight: 300;
}
.facets-control-item:last-of-type {
  border-radius: 0 0 3px 3px;
}

.facets-control-item-chosen {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px; padding-bottom: 4px;
  border-style: inset;
  border: 1px solid #29b6f6;
  background-color: #e8f5e9;
  font-weight: 300;
}
.facets-control-item-chosen:last-of-type {
  border-radius: 0 0 3px 3px;
}

.badge-rounded:last-child {
  border-radius: 10rem;
  /* need margin when pull-right is applied */
  margin-top: 3px;
}
