
.gmap-status-bar {
  margin-top: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px; padding-right: 4px;
  background: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px 4px 0 0;
  color: white;
}

.gmap-map-container {
  width: calc(100%);
  height: calc(80%);
}

.gmap-status-bounds-icon {
  color: #FF8800;
}
.gmap-status-bounds-help-msg {
  color: #CC0000;
}
