<html>
<head>
  <title>NYC Taxi Hub</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='/css/style.css'>
  <link rel='stylesheet' href='/css/nyc-main.css'>
  <link rel='stylesheet' href='/css/nyc-header-navigator.css'>
  <link rel='stylesheet' href='/css/nyc-control-panel.css'>
  <link rel='stylesheet' href='/css/nyc-gmap.css'>
  <link rel='stylesheet' href='/css/spy-panel.css'>

  <!-- ################################ -->
  <!-- using MDB (metal design bootstrap) -->
  <!-- ################################ -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.1/css/mdb.css">

  <!-- MDB required jscript lib -->
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>

</head>
<body style="padding-left: 1px; padding-right: 1px; padding-bottom: 16px;">
  <div id='nyc-app'></div>
</body>
<!-- include the vueify js -->
<script src="../build/build-nycTaxiHubMain.js"></script>

<!-- google map init -->
<script>

  function _initMap() {
    var _nycCenter={ lat: 40.7127753, lng: -74.0059728 };
    let _mapE=document.getElementById('nyc-gmap-map');

    if (_mapE) {
      var _map = new google.maps.Map(document.getElementById('nyc-gmap-map'), {
          zoom: 12,
          center: _nycCenter
        }
      );
      // so that other components could reference it
      window.gmapInstance=_map;

    } else {
      alert('something wrong, nyc-gmap-map missing!!! Might need to wait for the components being loaded by vue?');
    }
  };

  function _lazyLoadApi() {
    if (window.gmap.key) {
      let _gmapUrl=encodeURI('https://maps.googleapis.com/maps/api/js?language=en&callback=_initMap&key='+window.gmap.key);

      // add the script element (not a good way... security issues....)
      let _sE=document.createElement('script');
      _sE.setAttribute('defer', true);
      _sE.setAttribute('async', true);
      _sE.setAttribute('src', _gmapUrl);

      document.body.appendChild(_sE);
    }
  };
</script>

<!-- normal way to startup gmap with a known KEY -->
<!-- script async defer
  src="https://maps.googleapis.com/maps/api/js?callback=_initMap">
</script -->

</html>
