
<!--button onclick='$("#_btnShowQuery").click();' >simulate click</button-->
<button id='_btnShowQuery' type="button" class="btn btn-primary"
  style='display: none;' data-toggle="modal"
  data-target="#queryDlgComponent">Central Modal</button>

<!-- ### Central Modal Medium Info ### -->
<div class="modal fade" id="queryDlgComponent" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content" style="border-radius: 8px;">
      <!--Header-->
      <div class="modal-header query_dlg_title_border " style="background-color: #5394ff;">
        <!-- ### change title (divQueryTitle) ### q_d_c_divTitle -->
        <p class="heading lead" style="margin-bottom: 0px; color: #fff;">
          <span id='q_d_c_divTitle' >
            {{_getDlgTitle()}}
          </span>&nbsp;
          <i class="fa fa-check mb-1 animated rotateIn white-text"></i></p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="query_outer_container">
            <div class="text-center">
              <!--i class="fa fa-check fa-4x mb-1 animated rotateIn"></i>
              <p class="color: #616161;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.</p-->
<!-- ### q_d_c_txtContent -->
<!-- TODO for loop on the content part -->
              <textarea id='q_d_c_txtContent' readonly="true"
                class="query_inner_textarea">{{_getDlgContent()}}</textarea>
            </div>
          </div>
          <!-- outer container -->
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <!--button class="btn btn-primary">Get it now <i class="fa fa-diamond ml-1"></i></button>
          <button class="btn btn-outline-primary waves-effect" data-dismiss="modal">No, thanks</button-->
<!-- ### copyQueryToClipboard -->
          <button class="btn btn-outline-primary waves-effect" data-dismiss="modal">
            Done <i class="fa fa-hand-peace-o ml-1" aria-hidden="true"></i></button>
          <button class="btn btn-outline-info waves-effect"
            (click)='_copyQueryToClipboard()'>
            Copy <i class="fa fa-copy ml-1"></i></button>
<!-- ### q_d_c_iInfo -->
          <!--i class="fa fa-info-circle fa-lg _s_pointer" id='q_d_c_iInfo'
            data-toggle="tooltip" data-placement="top" title="copy the query to clipboard"
            style='color: #0091ea;' aria-hidden="true"></i -->
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- ### Central Modal Medium Info ### -->
