
<div class="flex-center">
  <div style="width: 800px;">
    <!-- search bar -->
    <search-component [_ref]='this' ></search-component>

    <!-- result layout -->
    <div style="margin-top: 12px;">
      <div class='container-fluid'>
        <div class="row">
          <!-- result item (list) -->
          <div [ngClass]='_getClassForListItemPane()' style="padding: 1px;">
            <div style="">
              <item-list-component [_ref]='this'></item-list-component>
            </div>
          </div>

          <!-- google map -->
          <div [ngClass]='_getClassForGMapPane()' style="padding: 1px;">
            <div style="border: 1px solid;">gmap area</div>
          </div>

        </div>
      </div>

      <!--p></p><p></p>
      <div class='container-fluid'>
        <div class="row">
          <div class="col-sm-12 col-md-12" style="padding: 1px;"> <div style="border: 1px solid;">list items</div> </div>
          <div class="col-sm-9 col-md-9" style="margin-top: 4px; padding: 1px;"> <div style="border: 1px solid;">gmap area</div> </div>
        </div>
      </div-->
    </div>

  </div>
</div>
