


.hiding {
  display: none;
}
.showing {
  display: block;
}
.showing-inline {
  display: inline-block;
}

.error-box {
  color: red;
  margin-bottom: 8px;
}

.query-container {
  margin-top: 12px;
  margin-bottom: 20px;
  width: 500px;
}

.result-container-outer {
  width: 500px;
  height: 300px;
  overflow: scroll;
}
.result-container-inner {
  width: calc(100%);
}

.lecture-body-container {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.lecture-section-container {
  padding: 8px;
  border-radius: 4px;
  border-color: #33b5e5;
  border-width: 1px;
  border-style: solid;
  margin-top: 8px;
}
.lecture-result-div {
  font-style: italic;
}

.normal_ul {

}
.normal_ul>li {
  list-style-type: circle;
  list-style-position: inside; margin-left: 12px;
}

/* ################### */
/*  lecture container  */
/* ################### */

.lecture-container-navigation {
  width: 100%;
  background: #eee;
  padding-left: 4px; padding-right: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0 0 2px 2px;
  box-shadow: 1px 2px 2px #aaa;
}

.lecture-container-navigation-title {
  display: inline-block;
  font-size: 24px;
  color: #555;
  padding-left: 14px; padding-right: 18px;
  font-weight: 400;
  cursor: pointer;
}

.lecture-container-navigation-subtitle {
  display: inline-block;
  font-size: 16px;
  color: #555;
  padding-left: 8px; padding-right: 8px;
  padding-top: 2px; padding-bottom: 2px;
  font-weight: 200;
  cursor: pointer;
}
.lecture-container-navigation-subtitle-clicked {
  background: #fff;
  border-radius: 4px;
  color: #777;
  box-shadow: 1px 2px 1px #aaa;
}

.lecture-container-navigation-pull-right-section {
  float: right;
  /*display: inline-block;*/
}
.lecture-container-navigation-icon {
  font-size: 16px;
  color: #555;
  padding-left: 8px; padding-right: 8px;
  /* padding top 14px -> 2px + container's padding-top 12px = 14px; */
  padding-top: 14px; padding-bottom: 14px;
  font-weight: 200;
  cursor: pointer;
}

.lecture-container-content-div {
  padding: 0px;
  margin: 0px;
}

.lecture-sidemenu-subitem {
  padding-left: 12px; padding-right: 4px;
}
.lecture-sidemenu-subitem-icon {
  font-size: 12px;
}

@media only screen and (max-width: 499px) {
  .lecture-container-navigation-pull-right-section-vis {
    display: none;
  }
  .lecture-container-navigation-pull-right-section-min {
    display: inline-block;
  }
}
@media only screen and (min-width: 500px) {
  .lecture-container-navigation-pull-right-section-vis {
    display: inline-block;
  }
  .lecture-container-navigation-pull-right-section-min {
    display: none;
  }
}
