
#### common
._s_hiding {
  display: none;
}
._s_showing {
  display: block;
}
._s_pointer {
  cursor: pointer;
}

._s_header_bg {
  background-color: #f2f2f2;
}
._s_header_font_color {
  color: #666;
}
._s_header_font_color::after {
  color: #666;
}
._s_svg path {
  fill: #666;
}
._s_home_main_container {
  margin-top: 66px;
}
._s_query_wrench {
  color: #2BBBAD!important;
}
#### common (end)



#### shop home specific
._s_query_dlg_outer_container {
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}
._s_query_dlg_inner_textarea {
  min-height: 200px;
  border-radius: 4px;
  border: 1px solid rgba(102,102,102,0.6);
}

._s_search_bar_text {
  min-width: 300px;
  padding-right: 4px; padding-left: 4px;
}
._s_search_bar_button {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 9px;

  position: relative;
  left: -5px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
._s_search_bar_button:hover {
  background-color: #fff;
}

._s_carousel_image_dimen {
  /*width: 940px; height: 650px;*/
  max-width: 1200px;
  height: 280px;
}

#### shop home specific (end)
